.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: bisque;
    color: brown;
    
}
img{
    width: 20%;
    margin-top: 1rem;
}
label,
.read{
    padding: .5rem ;
}
::placeholder{
    text-align: center;
    font-size: .6rem;
    color: green;
}
.btn{
    margin: .5rem;
    width: 50%;
    padding: .2rem;
    background-color: rgb(140, 240, 140);
    color: #fff;
    border: none;
    border-radius: 0.2rem;
}
.popup{
    display: none;
}