.new-book,
form{
    margin-left: 30rem;
}
.popup{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: bisque;
    color: brown;
    
}
img{
    width: 20%;
    margin-top: 1rem;
}

label,
.read{
    padding: .5rem ;
}
::placeholder{
    text-align: center;
    font-size: .6rem;
    color: green;
}
.btn{
    margin: .5rem;
    width: 50%;
    padding: .2rem;
    background-color: rgb(140, 240, 140);
    color: #fff;
    border: none;
    border-radius: 0.2rem;
}
.popup{
    display: none;
}

@media(max-width: 992px){
    .new-book,
     form{
       margin-left: 15rem;
       
       
    }
    input {
        width: 80%;    
    }
    
    .read{
        display: flex;
        align-items: center;
        
    }
    .popup{
        width: 40%;
        display: block;
        background-color: rgb(9, 77, 21);
        color: rgb(240, 213, 140);
    }
    .btn{
        margin: .5rem;
        width: 50%;
        padding: .2rem;
        background-color: rgb(240, 172, 140);
        color: #fff;
        border: none;
        border-radius: 0.2rem;
    }
    .popup {
        display: none;
    }
    


}
@media(max-width: 600px){
    .new-book,
     form{
       margin-left: 0;
       text-align: center;
    }
    .popup {
        width: 100%;
        display: block;
        background-color: rgb(9, 32,63);
        color: bisque;
    
    }
    .btn{
        margin: .5rem;
        width: 50%;
        padding: .2rem;
        background-color: rgb(240, 160, 140);
        color: #fff;
        border: none;
        border-radius: 0.2rem;
    }
    .popup{
       display: none;
    }
}